{% extends "layout.html" %}

{% block page_content %}
    <h1>Komparacija fizički aktivnih i fizički neaktivnih pacijenata</h1>


    <div class="col-sm- col-sm-offset-2 chart-dimensions">
        <canvas id="activityChart" width="400"10 height="400"></canvas>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(function () {
            var dataActive = {{ active | safe }};
            var dataInactive = {{ inactive | safe }};

            var ctx = document.getElementById('activityChart').getContext('2d');
            window.myLine = app.charts.activity.render(ctx, dataActive, dataInactive);
        });
    </script>
{% endblock %}
