{% extends "layout.html" %}

{% block page_content %}
    <h1>Activity graph should go here</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <canvas id="activityChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(function () {
            var dataActive = {{ active | safe }};
            var dataInactive = {{ inactive | safe }};

            var ctx = document.getElementById('activityChart').getContext('2d');
            window.myLine = app.charts.activity.render(ctx, dataActive, dataInactive);
        });
    </script>
{% endblock %}
