{% extends "layout.html" %}

{% block page_content %}
    <h1>Diet graph should go here</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <canvas id="dietChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(function () {
            var bellowAverage = {{ bellow_avg | safe }};
            var average = {{ avg | safe }};
            var aboveAverage = {{ above_avg | safe }};

            var ctx = document.getElementById('dietChart').getContext('2d');
            window.myLine = app.charts.diet.render(ctx, bellowAverage, average, aboveAverage);
        });
    </script>
{% endblock %}
