{% extends "layout.html" %}

{% block page_content %}
    <h1>Uticaj prestanka pušenja na razvoj dijabetesa</h1>
    <p>
        Prestanak pušenja smanjuje rizik za dobivanje komplikacija povezanih s dijabetesom. Pušenje ometa tijelo da normalno koristi inzulin te tako razvija dijabetes tipa 2.
        Bivši pušači i dalje imaju 
    </p>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <canvas id="smokingChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(function () {
            var data_values = {{ data_values | safe }};

            var ctx = document.getElementById('smokingChart').getContext('2d');
            window.myLine = app.charts.smoking.render(ctx, data_values);
        });
    </script>
{% endblock %}
