{% extends "bootstrap/base.html" %}
{% block title %}Diabetes Analysis{% endblock %}

{% block styles %}
{{ super() }}
{{ stylesheet_tag('main_css') | safe }}
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-2">
        <div class="row">
            {% block sidebar %}
            {% include 'sidebar.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="col-md-10">
        {% block page_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ javascript_tag('main_js') | safe }}
{% endblock %}
